section {
  width: 18%;
  min-height: 375px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding-top: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 5%;
}

section .info-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

section .info-book > * {
  margin: 5%;
}

.title-book {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 26px;
  text-align: center;
  max-width: 90%;
}

.author-book {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 20px;
  text-align: center;
  color: var(--color-secundaria);
}